<a href="https://colab.research.google.com/github/Ananaya-3396/Sentiment-Analysis-/blob/main/Bengaluru_House_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
import numpy as np
matplotlib.rcParams["figure.figsize"] = (25,25)

In [2]:
from google.colab import files
uploaded = files.upload()

Saving Bengaluru_House_Data.csv to Bengaluru_House_Data.csv

In [3]:
df = pd.read_csv("Bengaluru_House_Data.csv")
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [4]:
df = df.drop(['society','availability','size'],axis='columns')

In [5]:
df.head()

,area_type,location,total_sqft,bath,balcony,price
0,Super built-up Area,Electronic City Phase II,1056,2.0,1.0,39.07
1,Plot Area,Chikka Tirupathi,2600,5.0,3.0,120.00
2,Built-up Area,Uttarahalli,1440,2.0,3.0,62.00
3,Super built-up Area,Lingadheeranahalli,1521,3.0,1.0,95.00
4,Super built-up Area,Kothanur,1200,2.0,1.0,51.00

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area_type   13320 non-null  object
 1   location    13319 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   balcony     12711 non-null  float64
 5   price       13320 non-null  float64
dtypes: float64(3), object(3)
memory usage: 624.5+ KB

In [7]:
df = df.dropna()
df.head()

,area_type,location,total_sqft,bath,balcony,price
0,Super built-up Area,Electronic City Phase II,1056,2.0,1.0,39.07
1,Plot Area,Chikka Tirupathi,2600,5.0,3.0,120.00
2,Built-up Area,Uttarahalli,1440,2.0,3.0,62.00
3,Super built-up Area,Lingadheeranahalli,1521,3.0,1.0,95.00
4,Super built-up Area,Kothanur,1200,2.0,1.0,51.00

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12710 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area_type   12710 non-null  object
 1   location    12710 non-null  object
 2   total_sqft  12710 non-null  object
 3   bath        12710 non-null  float64
 4   balcony     12710 non-null  float64
 5   price       12710 non-null  float64
dtypes: float64(3), object(3)
memory usage: 695.1+ KB

In [9]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
df["area_type"] = label_encoder.fit_transform(df["area_type"])
df["location"] = label_encoder.fit_transform(df["location"])

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12710 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area_type   12710 non-null  int64
 1   location    12710 non-null  int64
 2   total_sqft  12710 non-null  object
 3   bath        12710 non-null  float64
 4   balcony     12710 non-null  float64
 5   price       12710 non-null  float64
dtypes: float64(3), int64(2), object(1)
memory usage: 695.1+ KB

In [32]:
df['total_sqft']

0        1056
1        2600
2        1440
3        1521
4        1200
         ...
13314    1715
13315    3453
13317    1141
13318    4689
13319     550
Name: total_sqft, Length: 12710, dtype: object

In [35]:
df = df.dropna(subset=['total_sqft'])
df.head()

   area_type  location total_sqft  bath  balcony   price
0          3       407       1056   2.0      1.0   39.07
1          2       306       2600   5.0      3.0  120.00
2          0      1141       1440   2.0      3.0   62.00
3          3       738       1521   3.0      1.0   95.00
4          3       697       1200   2.0      1.0   51.00

In [36]:
# Define a function to convert range strings to numerical values
def convert_range_to_num(s):
    tokens = s.split('-')
    if len(tokens) == 2:
        return (float(tokens[0]) + float(tokens[1]))/2
    try:
        return float(s)
    except:
        return None

# Apply the function to the 'total_sqft' column and create a new column 'total_sqft_numeric'
df['total_sqft_numeric'] = df['total_sqft'].apply(convert_range_to_num)

In [37]:
# Drop rows with non-numerical values in the new column
df = df.dropna(subset=['total_sqft_numeric'])

# Convert the 'total_sqft_numeric' column to integer data type
df['total_sqft_numeric'] = df['total_sqft_numeric'].astype(int)

<ipython-input-37-acc9a7ace3eb>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['total_sqft_numeric'] = df['total_sqft_numeric'].astype(int)

In [38]:
df.head()

   area_type  location total_sqft  bath  balcony   price  total_sqft_numeric
0          3       407       1056   2.0      1.0   39.07                1056
1          2       306       2600   5.0      3.0  120.00                2600
2          0      1141       1440   2.0      3.0   62.00                1440
3          3       738       1521   3.0      1.0   95.00                1521
4          3       697       1200   2.0      1.0   51.00                1200

In [80]:
msk = np.random.rand(len(df))<=0.85
train=df[msk]   
test=df[~msk]

In [81]:
x = np.asanyarray(train[["total_sqft_numeric"]])

In [82]:
y = np.asanyarray(train[["price"]])

In [83]:
from sklearn import linear_model
regr= linear_model.LinearRegression()
regr

LinearRegression()

In [84]:
train_x = np.asanyarray(train[["total_sqft_numeric"]])
train_y = np.asanyarray(train[["price"]])

In [85]:
test_x = np.asanyarray(test[["total_sqft_numeric"]])  
test_y = np.asanyarray(test[["price"]])

In [86]:
regr.fit(train_x,train_y)

LinearRegression()

In [87]:
print("Coefficient : " , regr.coef_)
print("Intercept : " , regr.intercept_)

Coefficient :  [[0.06035796]]
Intercept :  [15.20119516]

In [88]:
predicted_y = regr.predict(test_x)
predicted_y

array([[151.00661473],
       [121.85371799],
       [ 55.03745156],
       ...,
       [ 87.63075226],
       [ 84.06963237],
       [298.21968955]])

In [89]:
from sklearn.metrics import r2_score 
print(f"R2-score:{r2_score(test_y , predicted_y)}")

R2-score:0.4171762515609607